---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Welcome to My First Blog!</h1>

<ul>
<li><a href="#technology">Technology</a></li>
<li><a href="#travel">Travel</a></li>
<li><a href="#books">Books</a></li>
</ul>
